# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
certs

build
dist
node_modules
.DS_Store
dist-ssr
coverage
/code-template
*.local
.history

auto-imports.d.ts
components.d.ts

feGitStat-app

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# analysis html
stats.html

._*
